{% extends 'base.html.twig' %}

{% block body %}
    <h1>Anuncios</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ anuncio.id }}</td>
            </tr>
            <tr>
                <th>Titulo</th>
                <td>{{ anuncio.titulo }}</td>
            </tr>
            <tr>
                <th>Categoria</th>
                <td>{{ anuncio.categoria }}</td>
            </tr>
            <tr>
                <th>Idanimal</th>
                <td>{{ anuncio.idAnimal }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('anuncios_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('anuncios_edit', { 'id': anuncio.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
