{% extends "PaginasIndexBundle:Default:index.html.twig" %}

{% block guide %}
  <a href="{{ path("index_homepage") }}">Inicio</a> > <a href="#">Protectoras</a>
{% endblock guide %}


{% block body %}


<!-- inicio buscador -->
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-7 col-md-offset-2">
                                        <div id="custom-search-input">
                                            <div class="input-group col-md-12">
                                                <input type="text" class="form-control input-lg" placeholder="Buscar animal" />
                                                <span class="input-group-btn">
                                                    <button class="btn btn-info btn-lg" type="button">
                                                        <i class="glyphicon glyphicon-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><br><!-- fin buscador -->
                            <center> 
                    {% for anuncio in anuncios %}
                                <div class="row" > <!-- anuncio -->
                                    <hr style="display: block;height: 1px;border: 0;border-top: 2px solid #ccc;margin: 1em 0;padding: 0; ">
           
           
                                    <div class="col-sm-4 mostrarDescripcion "><!--  col-md-offset-2 -->
                                        <img src="/my_project/web/bundles/paginasindex/imgs/camadasboxers.jpg" class="img-rounded" style="width:50%">
                                    </div>
                                    <div class="col-sm-3" >
                                        <img src="/my_project/web/bundles/index/imgs/add-notes.png" style="width: 30px"/><b>{{ anuncio.titulo }}</b>
                                    </div>
                                    <div class="col-sm-5 " align="left" >
                                       <b>- Descripción:</b>{{ anuncio.descripcion }}<br>
                                        <b>- Nombre:</b>{{ anuncio.Nombre }}<br>
                                        <b>- Raza:</b>  {{ anuncio.Raza }}<br>
                                        <b>- Tipo:</b>  {{ anuncio.Tipo }}<br>
                                        <b>- Sexo:</b>  {{ anuncio.Sexo }}<br>
                                        <b>- Teléfono:</b>  {{ anuncio.tlf }}<br>
                                        <b>- Nacimiento:</b>  {{ anuncio.Nacimiento }}<br>
                                        <b>- Pedrigri:</b>{% if anuncio.Pedigri  %}Si{% else %}No{% endif %}  <br>
                                        <b>- Propietario:</b>  {{ anuncio.Propietario }}<br>
                                    </div>
                                </div>
                                <hr style="display: block;
                                
                                
                        
                                
                                
                                height: 1px;
                                border: 0;
                                border-top: 2px solid #ccc;
                                margin: 1em 0;
                                padding: 0; "><br><!-- fin anuncio -->
                                   {% endfor %} 
                            </center>

 <table class="table">
        <thead>
            <tr>
               
                <th>Titulo</th>
                <th>Categoria</th>
                <th>Descripcion</th>
                <th>Idpropietario</th>
                <th>Idanimal</th>
                <th>Nombre</th>
                <th>Tipo</th>
                <th>Raza</th>
                <th>Sexo</th>
                <th>Nacimiento</th>
                <th>Propietario</th>
                <th>Telefono</th>
                <th>Pedigri</th>
            </tr>
        </thead>
        <tbody>
           
        {% for anuncio in anuncios %}
            <tr>
                
                <td>{{ anuncio.titulo }}</td>
                <td>{{ anuncio.Categoria }}</td>
                <td>{{ anuncio.descripcion }}</td>
                <td>{{ anuncio.anuncio_id }}</td>
                <td>{{ anuncio.animal_id }}</td>
                <td>{{ anuncio.Nombre }}</td>
                <td>{{ anuncio.Tipo }}</td>
                <td>{{ anuncio.Raza }}</td>
                <td>{{ anuncio.Sexo }}</td>
                <td>{{ anuncio.Nacimiento }}</td>
                <td>{{ anuncio.Propietario }}</td>
                <td>{{ anuncio.tlf }}</td>
                <td>{{ anuncio.Pedigri }}</td>
                
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock body %}
      