{% extends "::base.html.twig" %}

{% block guide %}
  <a href="{{ path("index_homepage") }}">Inicio</a> > <a href="#">Camadas</a>
{% endblock guide %}


{% block body %}
<!-- inicio buscador -->
    <div class="container">
        <div class="row">
            <form id="buscador" class="form-inline" method="POST" role="form">
                <div class="form-group">
                    <input type="text" class="form-control" name="nombre" id="nombre" placeholder="Nombre">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="tipo" id="tipo" placeholder="Tipo">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="propietario" id="propietario" placeholder="Propietario">
                </div>
                <a href="./buscador" class="btn btn-default" role="button" id="buscar" style="color:#9999B2;">
                    Buscar
                    <span class="glyphicon glyphicon-search"></span>
                </a>
            </form>
        </div>
    </div>
    <br><!-- fin buscador -->
    <center> 
        {% for anuncio in anuncios %}
            <div class="row" > <!-- anuncio -->
                <hr style="display: block;height: 1px;border: 0;border-top: 2px solid #ccc;margin: 1em 0;padding: 0; ">


                <div class="col-sm-4 mostrarDescripcion "><!--  col-md-offset-2 -->
                    <img src="/my_project/web/bundles/paginasindex/imgs/camadasboxers.jpg" class="img-rounded" style="width:50%">
                </div>
                <div class="col-sm-3" >
                    <img src="/my_project/web/bundles/index/imgs/add-notes.png" style="width: 30px"/><b>{{ anuncio.titulo }}</b>
                </div>
                <div class="col-sm-5 " align="left" >
                    <b>- Descripción:</b>{{ anuncio.animal.descripcion }}<br>
                    <b>- Nombre:</b>{{ anuncio.animal.Nombre }}<br>
                    <b>- Raza:</b>  {{ anuncio.animal.Raza }}<br>
                    <b>- Tipo:</b>  {{ anuncio.animal.Tipo }}<br>
                    <b>- Sexo:</b>  {{ anuncio.animal.Sexo }}<br>
                    <b>- Teléfono:</b>  {{ anuncio.animal.tlf }}<br>
                    <b>- Nacimiento:</b>  {{ anuncio.animal.Nacimiento }}<br>
                    
                    <b>- Propietario:</b>  {{ anuncio.animal.Propietario }}<br>
                </div>
            </div>
            <hr style="display: block;
            height: 1px;
            border: 0;
            border-top: 2px solid #ccc;
            margin: 1em 0;
            padding: 0; "><br><!-- fin anuncio -->
       {% endfor %} 
    </center>
{% endblock body %}
      