<!DOCTYPE html>
<html lang="en">
<!-- 
.hidden-xs
Si aplicamos esta clase CSS a un DIV no aparecerá en la versión móvil pero si desde un ordenador o tablet.

.visible-xs
Si aplicamos esta clase CSS a un DIV sí aparecerá en la versión móvil pero no desde una dispositivo con la pantalla mayor.
-->
    <head>
        <style>
            .btnJ{
                -webkit-border-radius: 35;
                -moz-border-radius: 35;
                border-radius: 35px;
                color: #ffffff;
                font-size: 20px;
                background: #00BCD4;
                padding: 10px 20px 10px 20px;
                border: solid #1f628d 0px;
                text-decoration: none;
            }
            
            
            .btnJ:hover {
                text-decoration: none;
            }
            
            .navbar-nav.nav-justified > li{
                float:none;
            }
            
            #custom-search-input{
                padding: 3px;
                border: solid 1px #E4E4E4;
                border-radius: 6px;
                background-color: #fff;
            }
            
            #custom-search-input input{
                border: 0;
                box-shadow: none;
            }
            
            #custom-search-input button{
                margin: 2px 0 0 0;
                background: none;
                box-shadow: none;
                border: 0;
                color: #666666;
                padding: 0 8px 0 10px;
                border-left: solid 1px #ccc;
            }
            
            #custom-search-input button:hover{
                border: 0;
                box-shadow: none;
                border-left: solid 1px #ccc;
            }
            
            #custom-search-input .glyphicon-search{
                font-size: 23px;
            }
        </style>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- menu redondo-->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/my_project/web/bundles/index/css/normalize.css" />
        <link rel="stylesheet" type="text/css" href="/my_project/web/bundles/index/css/demo.css" />
        <link rel="stylesheet" type="text/css" href="/my_project/web/bundles/index/css/component1.css" />
        <link rel="stylesheet" href="/my_project/web/bundles/index/css/normalizebuscar.css">
        <link rel="stylesheet" href="/my_project/web/bundles/index/css/estilobuscar.css">
        <script src="/my_project/web/bundles/index/js/modernizr-2.6.2.min.js"></script>
        <script src="/my_project/web/bundles/index/js/jquery-1.10.2.js"></script>
        <script src="/my_project/web/bundles/index/js/anuncioshow.js"></script>
        <!-- fin menu redondo -->
        <title>Pet’s, adoptalo y no compres</title>
        <meta name="description" content="Pets page">
        <meta name="author" content="Pets">
        <link href="/my_project/web/bundles/index/css/bootstrap.min.css" rel="stylesheet">
        <link href="/my_project/web/bundles/index/css/style.css" rel="stylesheet">
    </head>
    <body>
        <!-- menu redondo-->
        <div class="component">
            <!-- Start Nav Structure -->
            <button class="cn-button" id="cn-button">+</button>
            <!--<button class="cn-button visible-xs" id="cn-button" style="width:90px;">+</button>-->
            <div class="cn-wrapper" id="cn-wrapper" style="margin-bottom: 10px"> <!-- mover posicion de los botones del menu -->
               		<ul>
					<li><a onclick="location.href='{{ path("paginas_sebusca") }}'" ><img src="/my_project/web/bundles/index/imgs/iconsMenu/buscarperdido.png" width="45px"></a></li>
					<li><a onclick="location.href='{{ path("paginas_adopciones") }}'"><img src="/my_project/web/bundles/index/imgs/iconsMenu/adoptar.png" width="50px"></span></a></li>
					<li><a onclick="location.href='{{ path("paginas_protectoras") }}'"><img src="/my_project/web/bundles/index/imgs/iconsMenu/refugio.png" width="45px"></a></li>
					<li><a onclick="location.href='{{ path("paginas_camadas") }}'"><img src="/my_project/web/bundles/index/imgs/iconsMenu/camada.png" width="45px"></a></li>
					<li><a href="/my_project/phpBB3/"><img src="/my_project/web/bundles/index/imgs/iconsMenu/forum.png" width="45px"></a></li>
				</ul>
            </div>
            <div id="cn-overlay" class="cn-overlay"></div>
            <!-- End Nav Structure -->
        </div>
        <!-- fin menu redondo-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="height:95px;">
						<div class="navbar-header" >
							<a href="{{ path("ani") }}">
								<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" style="border:0;">
									<img src="/my_project/web/bundles/index/imgs/publicar.png" class="visible-xs">
								</button>
							</a>
							<a class="navbar-brand container-fluid" style="height:100px" href="{{ path("index_homepage") }}"><img src="/my_project/web/bundles/index/imgs/logo.png" width="160px"> </a>
						</div>
						<ul class="nav navbar-nav nav-justified hidden-xs" role="menu">
							<li>
								<!--<button type="submit" class="btn btn-default hidden-xs"  style="border: 0px;border-radius: 27px 27px 27px 27px;
								-moz-border-radius: 27px 27px 27px 27px; -webkit-border-radius: 27px 27px 27px 27px; margin-left:40%; margin-top:-32px;">
								<img src="/my_project/web/bundles/index/imgs/publicar.png" onClick="location.href=''"/>&nbsp;&nbsp;&nbsp;Publicar anuncio
								</button>-->
								<button class="btn btn-default hidden-xs"  style="border: 0px;border-radius: 27px 27px 27px 27px;
								-moz-border-radius: 27px 27px 27px 27px; -webkit-border-radius: 27px 27px 27px 27px; margin-left:40%; margin-top:-130px;" onClick="location.href='{{ path("ani") }}'" value="publicar anuncio">
									<img src="/my_project/web/bundles/index/imgs/publicar.png">&nbsp;&nbsp;&nbsp; Publicar anuncio
								</button>
							</li>
							<div class="navbar-right container-fluid " >
								<div style="background-color:white; padding:5px; margin-right:13px; margin-top:-105px; border: 0px;border-radius: 27px 27px 27px 27px;
								-moz-border-radius: 27px 27px 27px 27px; -webkit-border-radius: 27px 27px 27px 27px;">
									{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
										<img src="/my_project/web/bundles/index/imgs/user.png">&nbsp;&nbsp; 
										<a style="height:-150px;" href="http://pruebaaaspets-daflpa.c9users.io/my_project/web/app_dev.php/profile/">
											{{ 'Perfil'|trans({}, 'FOSUserBundle') }}
										</a> | 
										<a style="height:-150px;" href="{{ path('fos_user_security_logout') }}">
											{{ 'Cerrar sesión'|trans({}, 'FOSUserBundle') }}
										</a>&nbsp;&nbsp; 
										<center>
										</center>
									{% else %}
										<a style="height:-150px; text-decoration:none;" href="{{ path('fos_user_security_login') }}"><img src="/my_project/web/bundles/index/imgs/user.png">&nbsp;{{ '   Mi cuenta'|trans({}, 'FOSUserBundle') }}</a>
									{% endif %}
								</div>
								{% if app.request.hasPreviousSession %}
									{% for type, messages in app.session.flashbag.all() %}
										{% for message in messages %}
											<div class="flash-{{ type }}">
												{{ message }}
											</div>
										{% endfor %}
									{% endfor %}
								{% endif %}
							</div>		
						</ul>
						<!--
						<form class="navbar-right" style="margin-top:10px;">
						<a href="publicar.html">
						<button type="submit" class="btn btn-default hidden-xs" style="border: 0px;border-radius: 27px 27px 27px 27px;
						-moz-border-radius: 27px 27px 27px 27px;
						-webkit-border-radius: 27px 27px 27px 27px; margin-right:390px;">
						<img src="imgs/publicar.png"/>&nbsp;&nbsp;&nbsp;Publicar anuncio
						</button>
						
						</a>
						</form>-->
						<div class="navbar-right container-fluid" style="margin-top:7px;">
							<img class="visible-xs" src="/my_project/web/bundles/index/imgs/user.png" onclick="location.href='{{ path("fos_user_security_login") }}';" style="float: right; margin-right: 10px"><br>
						</div>
					</nav>
                    <div style="vertical-align:left; margin-top: 110px; margin-bottom: -60px; font-weight: bold;">
                      {% block guide %}{% endblock guide %}
                    </div>
                    <center> 
                        <div class="jumbotron" style="margin-top: 70px; margin-bottom: 50px; background-color:white">
                            {% block body %}
							{% endblock body %}
                        </div>
                    </center>
                </div>
            </div>
        </div>
      <div id="footer" style="position: fixed; bottom: 0; width: 100%; height: 50px; background-color: #00BCD4;text-align: right; line-height: 40px;">
            <div class="container" >
                <p class="text-muted credit" ><font color="#FFFFFF"><a href="/my_project/web/app_dev.php/contactame" style="color: white; text-decoration: none">Contacto</a> | Pet's - Copyright © 2016</font></p>
            </div>
        <script src="/my_project/web/bundles/paginasindex/js/jquery.min.js"></script>
        <script src="/my_project/web/bundles/paginasindex/js/bootstrap.min.js"></script>
        <script src="/my_project/web/bundles/paginasindex/js/scripts.js"></script>
        <!-- menu redondo-->
        <script src="/my_project/web/bundles/paginasindex/js/polyfills.js"></script>
        <script src="/my_project/web/bundles/paginasindex/js/demo1.js"></script>
        <!-- fin menu redondo -->   
    </body>
</html>